## Importing Libraries

In [122]:
import numpy as np
import pandas as pd
import sklearn
import os
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.metrics import recall_score, mean_squared_error, mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings("ignore")

In [56]:
batsman= pd.read_csv("E:\cricket player prediction\Batsman_Data.csv")
bowler = pd.read_csv("E:\cricket player prediction\Bowler_data.csv")
ground = pd.read_csv("E:\cricket player prediction\Ground_Averages.csv")
odi_result =pd.read_csv("E:\cricket player prediction\ODI_Match_Results.csv")
odi_totals = pd.read_csv("E:\cricket player prediction\ODI_Match_Totals.csv")
wc = pd.read_csv("E:\cricket player prediction\WC_players.csv")

In [41]:
batsman.head(4)

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas,49619
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas,49619
2,3,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Oshane Thomas,49619
3,4,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Oshane Thomas,49619

In [42]:
bowler.head(4)

,Unnamed: 0,Overs,Mdns,Runs,Wkts,Econ,Ave,SR,Opposition,Ground,Start Date,Match_ID,Bowler,Player_ID
0,1,8.0,0,57,0,7.12,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Suranga Lakmal,49619
1,2,10.0,0,55,2,5.50,27.50,30.0,v India,Kolkata,24 Dec 2009,ODI # 2935,Suranga Lakmal,49619
2,3,-,-,-,-,-,-,-,v India,Delhi,27 Dec 2009,ODI # 2936,Suranga Lakmal,49619
3,4,9.0,1,63,2,7.00,31.50,27.0,v Bangladesh,Dhaka,4 Jan 2010,ODI # 2937,Suranga Lakmal,49619

In [43]:
ground.head(4)

,Ground,Span,Mat,Won,Tied,NR,Runs,Wkts,Balls,Ave,RPO
0,"Eden Gardens, Kolkata - India",2013-2017,4,4,0,0,2161,72,2297,30.01,5.64
1,"Feroz Shah Kotla, Delhi - India",2013-2019,4,4,0,0,1789,75,2331,23.85,4.60
2,Melbourne Cricket Ground - Australia,2013-2019,15,15,0,0,7656,217,8482,35.28,5.41
3,"Saurashtra Cricket Association Stadium, Rajkot...",2013-2015,2,2,0,0,1163,26,1200,44.73,5.81

In [44]:
odi_result.head(4)

,Unnamed: 0,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Match_ID,Country,Country_ID
0,418,won,85 runs,NaN,lost,1st,v India,Kolkata,3 Jan 2013,ODI # 3315,Pakistan,7
1,692,lost,85 runs,NaN,won,2nd,v Pakistan,Kolkata,3 Jan 2013,ODI # 3315,India,6
2,419,lost,10 runs,NaN,lost,2nd,v India,Delhi,6 Jan 2013,ODI # 3316,Pakistan,7
3,693,won,10 runs,NaN,won,1st,v Pakistan,Delhi,6 Jan 2013,ODI # 3316,India,6

In [45]:
odi_totals.head(4)

,Unnamed: 0,Score,Overs,RPO,Target,Inns,Result,Opposition,Ground,Start Date,Match_ID,Country,Country_ID
0,412,250,48.3,5.15,NaN,1,won,v India,Kolkata,3 Jan 2013,ODI # 3315,Pakistan,7
1,680,165,48.0,3.43,251.0,2,lost,v Pakistan,Kolkata,3 Jan 2013,ODI # 3315,India,6
2,413,157,48.5,3.21,168.0,2,lost,v India,Delhi,6 Jan 2013,ODI # 3316,Pakistan,7
3,681,167,43.4,3.82,NaN,1,won,v Pakistan,Delhi,6 Jan 2013,ODI # 3316,India,6

In [46]:
wc.head(4)

              Player      ID      Country
0  Gulbadin Naib (c)  352048  Afghanistan
1   Rashid Khan (vc)  793463  Afghanistan
2         Aftab Alam  440963  Afghanistan
3      Asghar Afghan  320652  Afghanistan

In [47]:
data =[batsman, bowler, ground, odi_result, odi_totals, wc]
file_paths= [
    "E:\cricket player prediction\Batsman_Data.csv",
    "E:\cricket player prediction\Bowler_data.csv",
    "E:\cricket player prediction\Ground_Averages.csv",
    "E:\cricket player prediction\ODI_Match_Results.csv",
    "E:\cricket player prediction\ODI_Match_Totals.csv",
    "E:\cricket player prediction\WC_players.csv"
]
for k, file_path in zip(data, file_paths):
    file_name= os.path.basename(file_path)
    print(f"File Name: {file_name}")
    
    #info 
    print("\nInfo:")
    print(k.info())

    #shape
    print("\nShape:")
    print(k.shape)

    #Null
    print(k.isnull().sum())

    #print Duplicates
    print("\nNull values")
    print(k.duplicated().sum())

    #saperarting line
    print("="* 70)

File Name: Batsman_Data.csv

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11149 entries, 0 to 11148
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11149 non-null  int64
 1   Bat1        11149 non-null  object
 2   Runs        11149 non-null  object
 3   BF          11149 non-null  object
 4   SR          11149 non-null  object
 5   4s          11149 non-null  object
 6   6s          11149 non-null  object
 7   Opposition  11149 non-null  object
 8   Ground      11149 non-null  object
 9   Start Date  11149 non-null  object
 10  Match_ID    11149 non-null  object
 11  Batsman     11149 non-null  object
 12  Player_ID   11149 non-null  int64
dtypes: int64(2), object(11)
memory usage: 1.1+ MB
None

Shape:
(11149, 13)
Unnamed: 0    0
Bat1          0
Runs          0
BF            0
SR            0
4s            0
6s            0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Batsman       0
Player_ID     0
dtype: int64

Null values
0
======================================================================
File Name: Bowler_data.csv

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11118 entries, 0 to 11117
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11118 non-null  int64
 1   Overs       11118 non-null  object
 2   Mdns        11118 non-null  object
 3   Runs        11118 non-null  object
 4   Wkts        11118 non-null  object
 5   Econ        11118 non-null  object
 6   Ave         11118 non-null  object
 7   SR          11118 non-null  object
 8   Opposition  11118 non-null  object
 9   Ground      11118 non-null  object
 10  Start Date  11118 non-null  object
 11  Match_ID    11118 non-null  object
 12  Bowler      11118 non-null  object
 13  Player_ID   11118 non-null  int64
dtypes: int64(2), object(12)
memory usage: 1.2+ MB
None

Shape:
(11118, 14)
Unnamed: 0    0
Overs         0
Mdns          0
Runs          0
Wkts          0
Econ          0
Ave           0
SR            0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Bowler        0
Player_ID     0
dtype: int64

Null values
0
======================================================================
File Name: Ground_Averages.csv

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ground  106 non-null    object
 1   Span    106 non-null    object
 2   Mat     106 non-null    int64
 3   Won     106 non-null    int64
 4   Tied    106 non-null    int64
 5   NR      106 non-null    int64
 6   Runs    106 non-null    int64
 7   Wkts    106 non-null    int64
 8   Balls   106 non-null    int64
 9   Ave     106 non-null    float64
 10  RPO     106 non-null    float64
dtypes: float64(2), int64(7), object(2)
memory usage: 9.2+ KB
None

Shape:
(106, 11)
Ground    0
Span      0
Mat       0
Won       0
Tied      0
NR        0
Runs      0
Wkts      0
Balls     0
Ave       0
RPO       0
dtype: int64

Null values
0
======================================================================
File Name: ODI_Match_Results.csv

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1322 non-null   int64
 1   Result      1322 non-null   object
 2   Margin      1322 non-null   object
 3   BR          606 non-null    float64
 4   Toss        1322 non-null   object
 5   Bat         1322 non-null   object
 6   Opposition  1322 non-null   object
 7   Ground      1322 non-null   object
 8   Start Date  1322 non-null   object
 9   Match_ID    1322 non-null   object
 10  Country     1322 non-null   object
 11  Country_ID  1322 non-null   int64
dtypes: float64(1), int64(2), object(9)
memory usage: 124.1+ KB
None

Shape:
(1322, 12)
Unnamed: 0      0
Result          0
Margin          0
BR            716
Toss            0
Bat             0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64

Null values
0
======================================================================
File Name: ODI_Match_Totals.csv

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1296 non-null   int64
 1   Score       1296 non-null   object
 2   Overs       1296 non-null   float64
 3   RPO         1296 non-null   object
 4   Target      620 non-null    float64
 5   Inns        1296 non-null   int64
 6   Result      1296 non-null   object
 7   Opposition  1296 non-null   object
 8   Ground      1296 non-null   object
 9   Start Date  1296 non-null   object
 10  Match_ID    1296 non-null   object
 11  Country     1296 non-null   object
 12  Country_ID  1296 non-null   int64
dtypes: float64(2), int64(3), object(8)
memory usage: 131.8+ KB
None

Shape:
(1296, 13)
Unnamed: 0      0
Score           0
Overs           0
RPO             0
Target        676
Inns            0
Result          0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64

Null values
0
======================================================================
File Name: WC_players.csv

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   152 non-null    object
 1   ID       152 non-null    int64
 2   Country  152 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.7+ KB
None

Shape:
(152, 3)
Player     0
ID         0
Country    0
dtype: int64

Null values
0
======================================================================

In [52]:
odi_totals.isnull().sum()

Unnamed: 0      0
Score           0
Overs           0
RPO             0
Target        676
Inns            0
Result          0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64

In [57]:

median_values = odi_totals['Target'].median()
odi_totals.fillna(median_values, inplace=True)

In [58]:
odi_totals.isnull().sum()

Unnamed: 0    0
Score         0
Overs         0
RPO           0
Target        0
Inns          0
Result        0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Country       0
Country_ID    0
dtype: int64

In [61]:
median_values = odi_result['BR'].median()
odi_result.fillna(median_values ,inplace=True)

In [63]:
odi_result.isnull().sum()

Unnamed: 0    0
Result        0
Margin        0
BR            0
Toss          0
Bat           0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Country       0
Country_ID    0
dtype: int64

In [64]:
batsman.head(2)

,Unnamed: 0,Bat1,Runs,BF,SR,4s,6s,Opposition,Ground,Start Date,Match_ID,Batsman,Player_ID
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,ODI # 2933,Oshane Thomas,49619
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,ODI # 2935,Oshane Thomas,49619

In [65]:
batsman.columns

Index(['Unnamed: 0', 'Bat1', 'Runs', 'BF', 'SR', '4s', '6s', 'Opposition',
       'Ground', 'Start Date', 'Match_ID', 'Batsman', 'Player_ID'],
      dtype='object')

In [67]:
bowler.columns

Index(['Unnamed: 0', 'Overs', 'Mdns', 'Runs', 'Wkts', 'Econ', 'Ave', 'SR',
       'Opposition', 'Ground', 'Start Date', 'Match_ID', 'Bowler',
       'Player_ID'],
      dtype='object')

In [69]:
df1 = pd.merge(batsman, bowler, on=["Match_ID", "Player_ID", "Start Date", "Opposition", "Ground"],how="inner")

In [70]:
df1.shape

(11118, 22)

In [75]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11118 entries, 0 to 11117
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  11118 non-null  int64
 1   Bat1          11118 non-null  object
 2   Runs_x        11118 non-null  object
 3   BF            11118 non-null  object
 4   SR_x          11118 non-null  object
 5   4s            11118 non-null  object
 6   6s            11118 non-null  object
 7   Opposition    11118 non-null  object
 8   Ground        11118 non-null  object
 9   Start Date    11118 non-null  object
 10  Match_ID      11118 non-null  object
 11  Batsman       11118 non-null  object
 12  Player_ID     11118 non-null  int64
 13  Unnamed: 0_y  11118 non-null  int64
 14  Overs         11118 non-null  object
 15  Mdns          11118 non-null  object
 16  Runs_y        11118 non-null  object
 17  Wkts          11118 non-null  object
 18  Econ          11118 non-null  object
 19  Ave           11118 non-null  object
 20  SR_y          11118 non-null  object
 21  Bowler        11118 non-null  object
dtypes: int64(3), object(19)
memory usage: 1.9+ MB

In [77]:
df1.drop(columns=["Unnamed: 0_x" , "Unnamed: 0_y"], axis=1 ,inplace=True)

In [79]:
df1.columns

Index(['Bat1', 'Runs_x', 'BF', 'SR_x', '4s', '6s', 'Opposition', 'Ground',
       'Start Date', 'Match_ID', 'Batsman', 'Player_ID', 'Overs', 'Mdns',
       'Runs_y', 'Wkts', 'Econ', 'Ave', 'SR_y', 'Bowler'],
      dtype='object')

In [80]:
ground.columns

Index(['Ground', 'Span', 'Mat', 'Won', 'Tied', 'NR', 'Runs', 'Wkts', 'Balls',
       'Ave', 'RPO'],
      dtype='object')

In [81]:
df2 =pd.merge(df1, ground, on=["Ground"],how="inner")

In [82]:
df2.shape

(0, 30)

In [83]:
odi_result.columns

Index(['Unnamed: 0', 'Result', 'Margin', 'BR', 'Toss', 'Bat', 'Opposition',
       'Ground', 'Start Date', 'Match_ID', 'Country', 'Country_ID'],
      dtype='object')

In [84]:
odi_result.head(3)

,Unnamed: 0,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Match_ID,Country,Country_ID
0,418,won,85 runs,30.5,lost,1st,v India,Kolkata,3 Jan 2013,ODI # 3315,Pakistan,7
1,692,lost,85 runs,30.5,won,2nd,v Pakistan,Kolkata,3 Jan 2013,ODI # 3315,India,6
2,419,lost,10 runs,30.5,lost,2nd,v India,Delhi,6 Jan 2013,ODI # 3316,Pakistan,7

In [86]:
odi_result.drop(columns=["Unnamed: 0"],axis=1, inplace=True)

In [87]:
odi_totals.columns

Index(['Unnamed: 0', 'Score', 'Overs', 'RPO', 'Target', 'Inns', 'Result',
       'Opposition', 'Ground', 'Start Date', 'Match_ID', 'Country',
       'Country_ID'],
      dtype='object')

In [88]:
odi_totals.head(2)

,Unnamed: 0,Score,Overs,RPO,Target,Inns,Result,Opposition,Ground,Start Date,Match_ID,Country,Country_ID
0,412,250,48.3,5.15,258.0,1,won,v India,Kolkata,3 Jan 2013,ODI # 3315,Pakistan,7
1,680,165,48.0,3.43,251.0,2,lost,v Pakistan,Kolkata,3 Jan 2013,ODI # 3315,India,6

In [89]:
odi_totals.drop(columns=["Unnamed: 0"], axis=1 , inplace=True)

In [90]:
df3_odi = pd.merge(odi_result, odi_totals, on=['Opposition', 'Ground', 'Start Date', 'Match_ID', 'Result', 'Country', 'Country_ID'],how='right')

In [91]:
df3_odi.shape

(1296, 16)

In [92]:
df3_odi.head(3)

,Result,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Match_ID,Country,Country_ID,Score,Overs,RPO,Target,Inns
0,won,85 runs,30.5,lost,1st,v India,Kolkata,3 Jan 2013,ODI # 3315,Pakistan,7,250,48.3,5.15,258.0,1
1,lost,85 runs,30.5,won,2nd,v Pakistan,Kolkata,3 Jan 2013,ODI # 3315,India,6,165,48.0,3.43,251.0,2
2,lost,10 runs,30.5,lost,2nd,v India,Delhi,6 Jan 2013,ODI # 3316,Pakistan,7,157,48.5,3.21,168.0,2

In [93]:
df2.columns

Index(['Bat1', 'Runs_x', 'BF', 'SR_x', '4s', '6s', 'Opposition', 'Ground',
       'Start Date', 'Match_ID', 'Batsman', 'Player_ID', 'Overs', 'Mdns',
       'Runs_y', 'Wkts_x', 'Econ', 'Ave_x', 'SR_y', 'Bowler', 'Span', 'Mat',
       'Won', 'Tied', 'NR', 'Runs', 'Wkts_y', 'Balls', 'Ave_y', 'RPO'],
      dtype='object')

In [94]:
df3_odi.columns

Index(['Result', 'Margin', 'BR', 'Toss', 'Bat', 'Opposition', 'Ground',
       'Start Date', 'Match_ID', 'Country', 'Country_ID', 'Score', 'Overs',
       'RPO', 'Target', 'Inns'],
      dtype='object')

In [95]:
df3_odi.isnull().sum()

Result        0
Margin        0
BR            0
Toss          0
Bat           0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Country       0
Country_ID    0
Score         0
Overs         0
RPO           0
Target        0
Inns          0
dtype: int64

In [96]:
df4 = pd.merge(df2, df3_odi, on=['Ground', 'Start Date', 'Match_ID'],how='right')

In [97]:
df4.shape

(1296, 43)

In [98]:
wc.rename(columns={'ID':'Player_ID'},inplace=True)

In [99]:
wc.columns

Index(['Player', 'Player_ID', 'Country'], dtype='object')

In [101]:
df = pd.merge(df4,wc , on=['Player_ID', 'Country'], how='left')

In [102]:
df.columns

Index(['Bat1', 'Runs_x', 'BF', 'SR_x', '4s', '6s', 'Opposition_x', 'Batsman',
       'Player_ID', 'Overs_x', 'Mdns', 'Runs_y', 'Wkts_x', 'Econ', 'Ave_x',
       'SR_y', 'Bowler', 'Span', 'Mat', 'Won', 'Tied', 'NR', 'Runs', 'Wkts_y',
       'Balls', 'Ave_y', 'RPO_x', 'Result', 'Margin', 'BR', 'Toss', 'Bat',
       'Opposition_y', 'Ground', 'Start Date', 'Match_ID', 'Country',
       'Country_ID', 'Score', 'Overs_y', 'RPO_y', 'Target', 'Inns', 'Player'],
      dtype='object')

In [103]:
df.drop(columns=['Start Date', 'Toss', '4s', '6s', 'Opposition_x', 'Opposition_y'], axis=1, inplace=True)

In [104]:
df.shape

(1296, 38)

In [106]:
print(df[["Result"]])

     Result
0       won
1      lost
2      lost
3       won
4      lost
...     ...
1291   lost
1292    won
1293      -
1294      -
1295      -

[1296 rows x 1 columns]

In [108]:
df['Result']= df['Result'].apply(lambda x: 1 if x=="won" else 0)

In [110]:
print(df[["Result"]])

      Result
0          1
1          0
2          0
3          1
4          0
...      ...
1291       0
1292       1
1293       0
1294       0
1295       0

[1296 rows x 1 columns]

In [111]:
X  =df.drop("Result",axis=1)
y = df["Result"]

In [112]:
X.head(2)

,Bat1,Runs_x,BF,SR_x,Batsman,Player_ID,Overs_x,Mdns,Runs_y,Wkts_x,...,Ground,Match_ID,Country,Country_ID,Score,Overs_y,RPO_y,Target,Inns,Player
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Kolkata,ODI # 3315,Pakistan,7,250,48.3,5.15,258.0,1,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Kolkata,ODI # 3315,India,6,165,48.0,3.43,251.0,2,NaN

In [114]:
Encoder_X = LabelEncoder()
for i in X.columns:
    X[i]= Encoder_X.fit_transform(X[i])
Encoder_y = LabelEncoder()
y=Encoder_y.fit_transform(y)

In [115]:
X.head(2)

,Bat1,Runs_x,BF,SR_x,Batsman,Player_ID,Overs_x,Mdns,Runs_y,Wkts_x,...,Ground,Match_ID,Country,Country_ID,Score,Overs_y,RPO_y,Target,Inns,Player
0,0,0,0,0,0,0,0,0,0,0,...,57,0,6,6,404,181,165,134,1,0
1,0,0,0,0,0,0,0,0,0,0,...,57,0,4,5,115,178,25,127,2,0

In [116]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3, random_state=27)

In [117]:
X_train.head(3)

,Bat1,Runs_x,BF,SR_x,Batsman,Player_ID,Overs_x,Mdns,Runs_y,Wkts_x,...,Ground,Match_ID,Country,Country_ID,Score,Overs_y,RPO_y,Target,Inns,Player
1050,0,0,0,0,0,0,0,0,0,0,...,84,598,0,9,146,75,239,205,2,0
61,0,0,0,0,0,0,0,0,0,0,...,9,33,7,2,234,154,123,83,2,0
584,0,0,0,0,0,0,0,0,0,0,...,44,331,8,7,798,190,344,134,1,0

In [118]:
X_train.shape

(907, 37)

In [119]:
y_train.shape

(907,)

## Linear Model

In [120]:
Linmodel = LinearRegression()
Linmodel.fit(X_train,y_train)

LinearRegression()

In [121]:
y_pred = Linmodel.predict(X_test)
print(f"r2 Score of test set:{r2_score(y_test,y_pred)}")

r2 Score of test set:0.26313484371474083

In [123]:
mean_squared_error(y_test,y_pred)

0.1840105505891937

In [125]:
Linmodel.score(X_test,y_test)

0.26313484371474083

In [126]:
print("Train data Accuracy is :" , Linmodel.score(X_train, y_train))

Train data Accuracy is : 0.41241225508908363

In [128]:
print("Test data Accuracy is :", Linmodel.score(X_test, y_test))

Test data Accuracy is : 0.26313484371474083

In [130]:
# Transforming the data using minmax scaling approach 
mm= MinMaxScaler()
X_train.iloc[:,:]= mm.fit_transform(X_train.iloc[:,:])
X_test.iloc[:,:]=mm.fit_transform(X_test.iloc[:,:])

In [131]:
X_train.head(2)

,Bat1,Runs_x,BF,SR_x,Batsman,Player_ID,Overs_x,Mdns,Runs_y,Wkts_x,...,Ground,Match_ID,Country,Country_ID,Score,Overs_y,RPO_y,Target,Inns,Player
1050,0,0,0,0,0,0,0,0,0,0,...,0.903226,0.807018,0.000000,1.000000,0.169177,0.394737,0.606599,0.826613,1.0,0
61,0,0,0,0,0,0,0,0,0,0,...,0.096774,0.044534,0.777778,0.222222,0.271147,0.810526,0.312183,0.334677,1.0,0

In [133]:
# Creating decision tree and random forest

In [134]:
def fit_n_print(model, X_train, X_test, y_train, y_test):  # take the model, and data as inputs

    model.fit(X_train, y_train)   # fit the model with the train data

    pred = model.predict(X_test)  # make predictions on the test set
    train_score = model.score(X_train, y_train)
    test_score = model.score(X_test, y_test)

    print("Train Score:", train_score)
    print("Test Score:", test_score)
    print("Confustion Matrix:\n", confusion_matrix(y_test, pred))
    print(classification_report(y_test, pred))

In [135]:
# Decision tree

dt = DecisionTreeClassifier()

fit_n_print(dt, X_train, X_test, y_train, y_test)

Train Score: 1.0
Test Score: 0.9203084832904884
Confustion Matrix:
 [[173  15]
 [ 16 185]]
              precision    recall  f1-score   support

           0       0.92      0.92      0.92       188
           1       0.93      0.92      0.92       201

    accuracy                           0.92       389
   macro avg       0.92      0.92      0.92       389
weighted avg       0.92      0.92      0.92       389

In [136]:
# Random forest

rf = RandomForestClassifier()

fit_n_print(rf, X_train, X_test, y_train, y_test)

Train Score: 1.0
Test Score: 0.9125964010282777
Confustion Matrix:
 [[167  21]
 [ 13 188]]
              precision    recall  f1-score   support

           0       0.93      0.89      0.91       188
           1       0.90      0.94      0.92       201

    accuracy                           0.91       389
   macro avg       0.91      0.91      0.91       389
weighted avg       0.91      0.91      0.91       389

In [138]:
# Decision tree and random forest are giving better accuracy.